<!-- <manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angie.flutterbarcodescannerupdate">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <application
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.angie.flutterbarcodescannerupdate.BarcodeCaptureActivity" />
    </application>
</manifest>
 -->

 <manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        
     <activity android:name="com.angie.flutterbarcodescannerupdate.MLKitBarcodeActivity"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:exported="false"/><meta-data
    android:name="io.flutter.embedding.android.EnableImpeller"
    android:value="false" />

    </application>
</manifest>
